/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
-----------------*/
.container {
    max-width: 1180px;
    margin: auto;
}
.container-small {
    max-width: 780px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*----------------
    TYPO
    regole riguardanti dimensione del font, line height, tipo del font, colore del font, spaziatura
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/*----------------
    BUTTONS
-----------------*/
.btn {
    border-radius: 20px;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

.btn.btn-black {
    background-color: #000;
    color: #fff;
}
.btn.btn-violette {
    background-color: #8ea1e1;
    color: #fff;
}

.btn.btn-large {
    padding: 12px 20px;
}

/*----------------
    HEADER
-----------------*/

header {
    background-color: #255EE8;
}

.header-top {
    padding: 10px 0;
    font-size: 0;
}

.logo, .main-nav, .login {
    display: inline-block;
    vertical-align: middle;
}

.logo, .login {
    width: 15%;
}
.login {
    text-align: right;
}

.main-nav {
    width: 70%;
    text-align: center;
    font-size: 16px;
}
.main-nav ul li {
    display: inline-block;
    padding: 0 10px;
}

.header-hero {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}
/*----------------
    MAIN
-----------------*/
section {
    padding: 75px 0;
}
section h3 {
    background-image: url(../img/stars.svg);
    font-size: 24px;
    display: inline-block;
    padding: 16px 40px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}
.section-bg-gray {
    background-color: #f6f6f6;
}
.section-bg-gray h2 {
    color: pink;
}

.section-text-center {
    text-align: center;
}

.col-text, .col-img {
    float: left;
}

.col-img {
    width: 70%;
}
.col-text {
    width: 30%;
    padding: 40px 0;
}

.col-img-right {
    text-align: right;
}