/*----------------
    RESET
-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
-----------------*/
.container {
    max-width: 1180px;
    margin: auto;
}
.container-small {
    max-width: 780px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*----------------
    TYPO
-----------------*/
body {
    font-family: 'Roboto', sans-serif;
}

/*----------------
    HEADER
-----------------*/

header {
    background-color: #3161e0;
}

.header-top {
    height: 70px;
    line-height: 70px;
}

.logo, .main-nav, .login {
    float: left;
}
.logo img {
    vertical-align: middle;
}

.logo, .login {
    width: 15%;
}
.login {
    text-align: right;
}

.main-nav {
    width: 70%;
    text-align: center;
}
.main-nav ul li {
    display: inline-block;
    padding: 0 10px;
}